.operation-button{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255,199,15);
  .font();
}
.settlement-button{
  width: 100px;
  height: 30px;
  background-color: rgb(18, 119, 203);
  margin-top: 50px;
  .font();
}
.font{
  color: white;
  font-size: 20px;
}